<div class="fixed inset-x-0 flex px-4 py-3 text-3xl md:inset-y-0 md:w-64 md:block bg-primary-300 md:overflow-scroll">
  <h1 class=" text-5xl">課程後台</h1>
  <ul class="w-64 h-screen overflow-y-scroll transition-all duration-500 top-full -left-full md:top-56 md:left-0 bg-primary-300 sidebar-list md:overflow-y-hidden">
    <li class="mx-4 mt-10">
      <%= link_to owner_courses_path, data: { sidebar_style_target: "courses" } do %>
        <i class="fa-solid fa-book-open"></i>全部課程
      <% end %>
      <%= yield :course %>
    </li>
    <li class="mx-4">
      <%= link_to owner_orders_path, data: { sidebar_style_target: "orders" } do %>
        <i class="pr-1 fa-solid fa-cart-shopping"></i>訂單管理
      <% end %>
    </li>
    <li class="bottom-0 mx-4 mt-6 border-t border-black">
      <%= link_to "/" do %>
        <i class="fa-solid fa-house"></i>學校首頁
      <% end %>
    </li>
  </ul>
</div>

